/* line 1, ../sass/screen.sass */
body {
  overflow-y: scroll;
  z-index: 0;
  font-size: 20px;
  font-family: "Old Standard TT", sans-serif;
}
/* line 6, ../sass/screen.sass */
body ul {
  list-style: none;
}
/* line 8, ../sass/screen.sass */
body li {
  border-left: 3px solid #f0f0f0;
  margin-bottom: 20px;
}
/* line 11, ../sass/screen.sass */
body a {
  color: red;
  text-decoration: none;
}
/* line 14, ../sass/screen.sass */
body a:hover {
  border-bottom: 2px solid #888888;
}
/* line 16, ../sass/screen.sass */
body h1 {
  position: fixed;
  left: 0;
  top: -30px;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: 60px;
}
/* line 24, ../sass/screen.sass */
body h1 #usage {
  top: 20px;
  position: fixed;
  left: 700px;
  display: inline;
  color: gray;
  font-size: 16px;
}
/* line 31, ../sass/screen.sass */
body .disabled {
  color: gray;
  opacity: 0.3;
}
/* line 34, ../sass/screen.sass */
body #page-left-border {
  position: fixed;
  background-color: white;
  top: 0;
  left: -10px;
  height: 100%;
  width: 60px;
  z-index: 1;
}
/* line 42, ../sass/screen.sass */
body #page-right-border {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  z-index: 1;
}
/* line 50, ../sass/screen.sass */
body #page-left {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid black;
  border-radius: 20px;
  position: fixed;
  top: 40%;
  left: 10px;
  height: 30px;
  width: 30px;
}
/* line 62, ../sass/screen.sass */
body #page-right {
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid black;
  border-radius: 20px;
  float: right;
  position: fixed;
  top: 40%;
  right: 10px;
}

/* line 75, ../sass/screen.sass */
#content-main {
  left: 0%;
}

/* line 77, ../sass/screen.sass */
#content-left {
  left: -110%;
}

/* line 79, ../sass/screen.sass */
#content-right {
  left: 110%;
}

/* line 81, ../sass/screen.sass */
.class {
  font-style: oblique;
}

/* line 83, ../sass/screen.sass */
.location {
  color: #303030;
  font-style: italic;
  margin-bottom: 30px;
  margin-left: 10px;
  font-size: 18px;
}

/* line 89, ../sass/screen.sass */
.content {
  -webkit-transition: left 0.5s ease-in;
  -moz-transition: left 0.5s ease-in;
  -o-transition: left 0.5s ease-in;
  transition: left 0.5s ease-in;
  position: absolute;
  width: 80%;
  margin: 50px;
  text-align: justify;
  font-size: 20px;
  top: 10px;
  z-index: 0;
}
