body
        overflow: hidden
        z-index: 0
        font-size: 20px
        font-family: 'Old Standard TT', sans-serif
        a
                color: red
                text-decoration: none
                &:hover
                        border-bottom: 2px solid #888
        h1
                position: absolute
                left: 0
                top: -30px
                z-index: 2
                background-color: white
                width: 100%
                height: 60px
        .disabled
                color: gray
                opacity: .3
        #page-left-border
                position: absolute
                background-color: white
                top: 0
                left: -10px
                height: 100%
                width: 60px
                z-index: 1
        #page-right-border
                position: absolute
                background-color: white
                top: 0
                right: 0
                height: 100%
                width: 60px
                z-index: 1
        #page-left
                -webkit-transition: all 0.5s
                border: 2px solid black
                border-radius: 20px
                float: left
                position: fixed
                top: 40%
                left: 20
        #page-right
                -webkit-transition: all 0.5s
                border: 2px solid black
                border-radius: 20px
                float: right
                position: fixed
                top: 40%
                right: 20
        #page-control
                z-index: 3
                border: 2px solid black
                border-radius: 20px
                height: 50
                width: 30px
                top: 20
                position: absolute
                right: 25
                -webkit-transition: all 0.5s
                #page-up
                        -webkit-transition: all 0.5s
                        position: absolute
                        top: 0px
                        left: 5px
                #page-down
                        position: absolute
                        top: 25px
                        left: 5px
        #content-main
                position: absolute
                left: 0%
                -webkit-transition: left 0.5s ease-in, top 0.5s
                margin: 50px
                width: 80% 
                text-align: justify
                font-size: 20px
                top: 10px
                z-index: 0
        #content-left
                left: -110%
                -webkit-transition: left 0.5s ease-in, top 0.5s
                position: absolute
                margin: 50px
                width: 80%
                text-align: justify
                font-size: 20px
                top: 10px
                z-index: 0
        #content-right
                left: 110%
                -webkit-transition: left 0.5s ease-in, top 0.5s
                position: absolute
                width: 80%
                margin: 50px
                text-align: justify
                font-size: 20px
                top: 10px
                z-index: 0
