<!DOCTYPE html>

<html>
<head profile="http://www.w3.org/2005/10/profile">
    <title>Max Dietz</title>
    <link href="/static/images/favicon.ico" rel="icon" type="image/ico">
    <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel=
    "stylesheet">
    <link href=
    "http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css"
    rel="stylesheet">
    <link href="/static/stylesheets/screen.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src=
    "http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>

<body>
    <h1>Max Dietz: <span id="page"></span>
    	<div id="usage">
        	You can navigate by swiping, clicking the arrows or using the
        	keyboard.
    	</div>
	</h1>
    <div id="page-right-border" class="border">
        <div id="page-right" class="button"><img height="20" src=
        "/static/images/right-chevron.png" style=
        "top: 4px; position: relative; left: 6px;" width="20"></div>
    </div>

    <div id="page-left-border" class="border">
        <div id="page-left" class="button"><img height="20" src=
        "/static/images/left-chevron.png" style=
        "top: 4px; position: relative; left: 4px;" width="20"></div>
    </div>

    <div class="content" id="content-main">
        <h2>WesMaps+</h2><img src="/static/images/wesmapsplus.png" style=
        "border: 1px solid black; float: right; margin-left: 10px;" width=
        "60%">

        <p>In competition at <a href="http://weshack.com">WesHack 2013</a> my
        team created a new course scheduling tool for Wesleyan University,
        viewable <a href="http://wesmapsplus.com">here</a> and won first place,
        both in the judges' and community vote.</p>
    </div>

    <div class="content" id="content-left">
        <h2>SUMMARY OF QUALIFICATIONS/ACHIEVEMENTS</h2>

        <p>I am currently a sophomore at Wesleyan University, planning on
        majoring in Computer Science and Mathematics. I graduated from Choate
        Rosemary Hall in 2012 having taken all of the computer science courses
        offered and having received an honorable mention for my final project
        in Computer Science. I am proficient in C, C++, C#, Java, Ruby, PHP,
        HTML, CSS, and Javascript, and with the Windows, Linux, and Mac
        operating systems. In addition, I am familiar with both Eclipse and
        Subversion.</p>

        <h2>EDUCATION &amp; TRAINING</h2>

        <div class="course">
            Computer Science I
        </div>

        <div class="location">
            Wesleyan University, Middletown, CT, 2013
        </div>

        <div class="course">
            Human and Machine Inference
        </div>

        <div class="location">
            Wesleyan University, Middletown, CT, 2013
        </div>

        <div class="course">
            AP Computer Science
        </div>

        <div class="location">
            Choate Rosemary Hall, Wallingford, CT, 2012
        </div>

        <div class="course">
            Advanced Topics in Computer Science
        </div>

        <div class="location">
            Choate Rosemary Hall, Wallingford, CT, 2012
        </div>

        <div class="course">
            Honorable Mention for Excellence in Computer Science
        </div>

        <div class="location">
            Choate Rosemary Hall, Wallingford CT, 2011
        </div>

        <h2>PROFESSIONAL EXPERIENCE</h2>

        <ul>
            <li>Wesleyan University Instructional Media Services, Middletown,
            CT (9/2012—Present)</li>

            <ul>
                <li>Programmer</li>
                    <ul>
                        <li>Used Chef to automate the deployment of Mac and
                        Windows classrooms and laboratories on campus</li>

                        <li>Continued to develop Roomtrol, Wesleyan's own
                        touchscreen device</li>
                    </ul>

                    <li>Media Technician</li>
					<ul>
                        <li>Troubleshooted various problems with Mac and
                        Windows computers, printers, and projectors</li>

                        <li>Set up A/V equipment for campus events and
                        web-casts</li>
                    </ul>
            </ul>

            <li>Department of Buildings Forensic Engineering Unit, New York, NY
            (12/2012—1/2013)</li>

            <ul>
                <li>Intern</li>
                    <ul>
                        <li>Awarded with a Certificate of Gratitude from
                        	the Department of Buildings</li>

                            <li>Utilized databases containing information about
                            building assessments, owner information, and
                            emergency orders in relation to Superstorm
                            Sandy</li>

                            <li>Interviewed victims of Sandy in the Staten
                            Island Recovery Center</li>

                            <li>Went on site visits throughout New York
                            City</li>
                    </ul>
                </ul>
            </li>

            <li>Move Into Greatness, New York, NY (6/2011—7/2012)</li>
                <ul>
                    <li>Web Designer</li>
                    <ul>
                        <li>Redesigned the website and added a section with
                        embedded videos</li>

                        <li>Sent out bi-monthly newsletters using Mail
                        Chimp</li>
                    </ul>
                </ul>
        </ul>
    </div>

    <div class="content" id="content-right">
        <span style="float: right; width: 400px;"><a class="twitter-timeline"
        data-chrome="nofooter noscrollbar" data-widget-id="337017976882593795"
        href="https://twitter.com/MaximumDietz">Tweets by
        @MaximumDietz</a></span>

        <ul>
            <li>
                <img height="30" src="/static/images/github.jpg" width=
                "30"><a href="http://github.com/mdietz94">Github</a>
            </li>

            <li><img height="25" src="/static/images/email.jpg" style=
            "margin-left: 5px; margin-right: 5px" width="25">mdietz {at}
            wesleyan {dot} edu</li>

            <li>
                <img height="30" src="/static/images/twitter.jpg" width=
                "30"><a href="http://twitter.com/MaximumDietz">Twitter</a>
            </li>
        </ul><script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div>
</body>
</html>