<html>
	<head>
  	<link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  	<script src="/static/js/underscore-min.js"></script>
  	<script src="/static/js/jquery-1.9.1.min.js"></script>
  	<script src="/static/js/app.js"></script>
  	<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<h1>Max Dietz</h1>
		<div id="page-right-border">
			<div id="page-right"><img src="/static/images/right-chevron.png" height="20" width="20"></img></div>
		</div>
		<div id="page-left-border">
			<div id="page-left"><img src="/static/images/left-chevron.png" height="20" width="20"></img></div>
		</div>
		<div id="page-control">
			<div id="page-up"><img src="/static/images/up-chevron.png"  height="20" width="20"></img></div>
			<div id="page-down"><img src="/static/images/down-chevron.png"  height="20" width="20"></img></div>
		</div>
		<div id="content-main"><h2>WesMaps+</h2>In competition at <a href="http://weshack.com">WesHack 2013</a> my team created a new course scheduling tool for Wesleyan University, viewable <a href="http://wesmapsplus.com">here</a> and won first place, both in the judges' and community vote.</div>
		<div id="content-left">IMS at Wesleyan University</div>
		<div id="content-right">Links: <a href="http://github.com/mdietz94">Github</a></div>
	</body>
</html>
