<html>
	<head profile="http://www.w3.org/2005/10/profile">
	<title>Max Dietz</title>
  	<link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  	<link href="/static/stylesheets/jquery.mobile.structure-1.3.1.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
  	<script src="/static/js/underscore-min.js"></script>
  	<script src="/static/js/jquery-1.8.3.min.js"></script>
  	<script src="/static/js/app.js"></script>
  	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
  	<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
  	<link rel="icon" type="image/ico" href="/static/images/favicon.ico" />
	</head>
	<body>
		<h1>Max Dietz: <span id="page"></span><div id="usage">You can navigate by clicking the arrows or by using the keyboard.</div></h1>
		<div id="page-right-border">
			<div id="page-right"><img src="/static/images/right-chevron.png" height="20" width="20" style="top: 5px; position: relative; left: 6px;"></img></div>
		</div>
		<div id="page-left-border">
			<div id="page-left"><img src="/static/images/left-chevron.png" height="20" width="20" style="top: 5px; position: relative; left: 4px;"></img></div>
		</div>
		<div id="content-main" class="content"><h2>WesMaps+</h2><img src="/static/images/wesmapsplus.png" width="60%" style="border: 1px solid black; float: right; margin-left: 10px;"><p>In competition at <a href="http://weshack.com">WesHack 2013</a> my team created a new course scheduling tool for Wesleyan University, viewable <a href="http://wesmapsplus.com">here</a> and won first place, both in the judges' and community vote.</p></div>
		<div id="content-left" class="content">
<h2>SUMMARY OF QUALIFICATIONS/ACHIEVEMENTS</h2>

<p>I am currently a sophomore at Wesleyan University, planning on majoring in Computer Science and Mathematics.  I graduated from Choate Rosemary Hall in 2012 having taken all of the computer science courses offered and having received an honorable mention for my final project in Computer Science.  I am proficient in C, C++, C#, Java, Ruby, PHP, HTML, CSS, and Javascript, and with the Windows, Linux, and Mac operating systems.  In addition, I am familiar with both Eclipse and Subversion.</p>

<h2>EDUCATION &amp; TRAINING</h2>

<div class="course">Computer Science I</div>
<div class="location">Wesleyan University, Middletown, CT, 2013</div>

<div class="course">Human and Machine Inference</div>
<div class="location">Wesleyan University, Middletown, CT, 2013</div>

<div class="course">AP Computer Science</div>
<div class="location">Choate Rosemary Hall, Wallingford, CT, 2012</div>

<div class="course">Advanced Topics in Computer Science</div>
<div class="location">Choate Rosemary Hall, Wallingford, CT, 2012</div>

<div class="course">Honorable Mention for Excellence in Computer Science</div>
<div class="location">Choate Rosemary Hall, Wallingford CT, 2011</div>

<h2>PROFESSIONAL EXPERIENCE</h2>
<ul>
<li>Wesleyan University Instructional Media Services, Middletown, CT (9/2012&mdash;Present)</li>
	<ul>
	<li>Programmer</li>
		<ul>
		<li>Used Chef to automate the deployment of Mac and Windows classrooms and laboratories on campus</li>
		<li>Continued to develop Roomtrol, Wesleyan's own touchscreen device</li>
		</ul>
	<li>Media Technician</li>
		<ul>
		<li>Troubleshooted various problems with Mac and Windows computers, printers, and projectors</li>
		<li>Set up A/V equipment for campus events and web-casts</li>
		</ul>
	</ul>

<li>Department of Buildings Forensic Engineering Unit, New York, NY (12/2012&mdash;1/2013)</li>
	<ul>
	<li>Intern</li>
		<ul>
		<li>Awarded with a Certificate of Gratitude from the Department of Buildings</li>
		<li>Utilized databases containing information about building assessments, owner information, and emergency orders in relation to Superstorm Sandy</li>
		<li>Interviewed victims of Sandy in the Staten Island Recovery Center</li>
		<li>Went on site visits throughout New York City</li>
		</ul>
	</ul>

<li>Move Into Greatness, New York, NY (6/2011&mdash;7/2012)</li>
	<ul>
	<li>Web Designer</li>
		<ul>
		<li>Redesigned the website and added a section with embedded videos</li>
		<li>Sent out bi-monthly newsletters using Mail Chimp</li>
		</ul>
	</ul>
</ul>
</div>
		<div id="content-right" class="content">
		<span style="float: right; width: 400px;">
		<a class="twitter-timeline" data-chrome="nofooter noscrollbar" height="475" href="https://twitter.com/MaximumDietz" data-widget-id="337017976882593795">Tweets by @MaximumDietz</a>
		</span>
		<ul>
			<li><img src="/static/images/github.jpg" height="30" width="30"></img><a href="http://github.com/mdietz94">Github</a></li>
			<li><img src="/static/images/email.jpg" height="25" width="25" style="margin-left: 5px; margin-right: 5px"></img>mdietz {at} wesleyan {dot} edu</li>
			<li><img src="/static/images/twitter.jpg" height="30" width="30"></img><a href="http://twitter.com/MaximumDietz">Twitter</a></li>
		</ul>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</body>
</html>
